.list-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list-wrapper{
    width: 100%;
    max-width: 1140px;
    display: flex;
    gap: 20px;
}
.list-search{
    flex:1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}
.list-search__title{
    font-size: 2rem;
    color: #555;
    margin-bottom: 10px;
}
.list-result{
    flex: 3;
}
.list-search__item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.list-search__item>label{
    font-size: 1.2rem;
}
.list-search__item>input{
    height: 30px;
    border: none;
    padding: 5px;
}
.list-search__item>span{
    height: 30px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.list-options{
    padding: 10px;   
}
.list-option__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 1.2rem;
}
.list-option__input{
    width: 50px;
}
.list-search>button{
    padding: 10px;
    background-color: #0071c2;
    color: #fff;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}
