.reserve{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.reserve-container{
    background-color: white;
    padding: 20px;
    position: relative;
}
  
.reserve-close{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
  
.reserve-item{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
  }
  
.reserve-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
.reserve-title{
    font-weight: 500;
}
  
.reserve-desc{
    font-weight: 300;
}
  
.reserve-max {
    font-size: 1.2rem;
}
  
.reserve-price {
    font-weight: 500;
}
  
.reserve-selectRoom{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 1rem;
    color: gray;
  }
  
.room{
    display: flex;
    flex-direction: column;
}
  
.reserve-btn{
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}