.homeContaier{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}
.homeTitle{
    width: 1140px;
    font-size: 2rem;
}
.Homep{
    position: absolute;
    width: 1140px;
    font-size: 1.5rem;
    top : 30px;
}